@import "tailwindcss";

form {
  @apply flex flex-col space-y-3;
}

.event-details {
  @apply flex flex-col space-y-2;
}

label {
  @apply text-base font-medium;
}

.input-detail {
  @apply border rounded-lg px-3 py-2  outline-[#3A357A];
}

h3 {
  @apply text-center font-semibold text-xl sm:mb-4 mb-6 text-gray-800;
}

p {
  @apply text-base font-medium;
}

.set-date-wrapper {
  @apply flex flex-col gap-4 pt-2 sm:mb-2 mb-5;
}

.set-date-container {
  @apply flex flex-row justify-between items-center;
}

.set-date {
  @apply bg-[#3A357A] text-[#fafafa] rounded-xl px-3 py-2 cursor-pointer;
}

.set-date::-webkit-calendar-picker-indicator {
  @apply invert ml-0;
}

.set-date::-webkit-datetime-edit {
  @apply text-base;
}

.img-input-container {
  @apply flex flex-col border rounded-lg px-6 sm:py-12 py-27 items-center justify-center cursor-pointer;
}

.img-input {
  @apply hidden;
}

.button-wrapper {
  @apply flex justify-between md:pt-4;
}

.close-btn {
  @apply border font-semibold md:px-4 md:py-2 p-2  rounded-lg transition-colors duration-100;
}

.close-btn:hover {
  @apply bg-black/70 text-white;
}

.post-Btn {
  @apply border bg-[#3A357A] text-white font-semibold md:px-5 md:py-2 px-3 rounded-lg transition-colors duration-100;
}

.post-Btn:hover {
  @apply bg-[#2655a1] border-[#2655a1];
}
