@import "tailwindcss";

.header {
  @apply flex flex-row gap-4 rounded-lg sm:px-5 px-3 sm:py-5 py-3 sm:border border-gray-300 w-full max-w-4xl;
}

.profile-btn {
  @apply bg-gray-600 rounded-[50%] sm:p-3 p-3 cursor-pointer;
}

.search-bar {
  @apply flex flex-row justify-start items-center p-3 border border-gray-300 rounded-4xl w-full text-gray-500 hover:bg-gray-100 relative;
}

.search-bar-Logo {
  @apply sm:w-7 sm:h-7 w-6 h-6 mr-2;
}

.search-input {
  @apply px-2 w-full outline-none;
}

.post-btn {
  @apply flex justify-center items-center text-white sm:text-lg font-medium bg-[#3B82F6] sm:px-14 px-5 shadow-md rounded-xl cursor-pointer;
}
